<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
    <meta charset="UTF-8">
    <title>contact Page</title>
<!--    use @{''} for defining relative path-->
</head>
<body>
    <div class="mt-16" id="content">
        <h1>Welcome to Contact Page</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae porro optio iste quisquam a.
        </p>
    </div>
    <script>
        console.log("Conact page");
    </script>
</body>
</html>